/node_modules
/build
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.DS_Store
/*.env*
/.*cache
_fragmentTypes.json
docs
src/types
tmp
/*.txt
src/**/*.md
/*.*profile
/trace*
cypress*
benchmark
src/**/*.txt
*.*.swp
