:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--cl-text);
  background-color: var(--cl-background);

  --bar-height: 3.5rem;
  --sidebar-width: 15rem;
  --progress-height: 0.2rem;
  --player-height: 3.5rem;
}

body {
  overscroll-behavior: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 901px) {
  :root {
    --player-height: 5rem;
  }
}
