:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--cl-text);
  background-color: var(--cl-background);
  touch-action: none;

  --appbar-height: 3.5rem;
  --bar-height: 4rem;
  --player-height: 4rem;
  --sidebar-width: 15rem;
  --progress-height: 0.2rem;
}

body {
  overscroll-behavior: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 901px) {
  :root {
    --player-height: 7rem;
  }
}

nav {
  user-select: none;
}
