:root {
  --cl-background: #fff;
  --cl-surface: #fff;
  --cl-surface-alt: #1c1f22;
  --cl-text: #000d;
  --cl-text-strong: #000;
  --cl-text-alt: #fffd;
  --cl-text-alt-strong: #fffffff5;
  --cl-text-disabled: #00000060;
  --cl-border: #0002;
  --cl-border-light: #0001;
  --cl-primary: #d32f2f;
  --cl-icon: var(--cl-text-strong);
}

:root[data-theme='dark'] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --cl-background: #1f2022;
  --cl-surface: #2c2e30;
  --cl-text: #fffd;
  --cl-text-strong: #fff;
  --cl-text-disabled: #ffffff60;
  --cl-border: #fff3;
  --cl-border-light: #fff1;
}
